html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    margin:0 ;
    padding: 0;
    box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


header{
    background-color: $clr-header;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: rem(64);
    font-weight: 900;
}

h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: rem(52);
}
h3{
    color: cyan;
}


a, a:hover{
    text-decoration: none;
    color: white;
}



.flex{
    display: flex;
    
    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-jc-e{
        justify-content: space-evenly;
    }

    &-ai-c{
        align-items: center;
    }
}

/***********visibility ********/
.hide-for-mobile{
    @include breakpoint-down (medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up (large){
        display: none;
    }
}