

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* Set core body defaults */
body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: $clr-bg;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


header{
    background-color: $clr-header;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h1{
    color: white;
    font-size: rem(64);
    font-weight: 900;
    letter-spacing: rem(10);

    @media (max-width: 850px){
        font-size:  rem(56);
        letter-spacing: rem(5);
    }
}

h2{
    color: white;
    font-size: rem(52);
}
h3{
    color: white;
    font-size:  rem(36);
}


a, a:hover{
    text-decoration: none;
    color: white;
}



.flex{
    display: flex;
    
    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-jc-e{
        justify-content: space-evenly;
    }

    &-ai-c{
        align-items: center;
    }
}

/***********visibility ********/
.hide-for-mobile{
    @include breakpoint-down (medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up (large){
        display: none;
    }
}

.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}