.header{
    padding: 1rem 1.5rem;
    background: $clr-header;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 100000;


    &__logo{
        animation: nav 500ms  ease-in 2s;
     
        img{
            width: 70%;            
        }

    }

 

    &__cta{
        padding: rem(10) rem(30);
        color: $clr-pry;     
        min-width: rem(150);   
        border-radius: rem(20);
        font-weight: 700;
        border: 2px solid $clr-pry;
        animation: nav 500ms 500ms ease-in 2s;
        display: flex;
        gap: rem(5);
        justify-content: center;

        @include breakpoint-down (small){
            padding: rem(10) rem(15);
            font-size: rem(12);
        }
        

        &:hover{
            background-color: #67f66920 ;
            transition: 500ms ease-in-out;
            color: $clr-pry;  
        }

    }

}

