// ===============  take in pixels, spit out rem value (just for fun)

@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


main{

    .hero{
        padding: rem(50);
        background: #181E2A ;
        gap: rem(100);
        
        &__container{

            &__title{
                span{
                    margin-top: rem(-10);
                    display: block;
                    color: $clr-pry;
                }
            }

            &__socials{
                margin-top: rem(30);
                gap: rem(30);
                i{
                    color: white;
                    font-size: rem(50);

                    &:hover{
                        color: $clr-pry;
                        transition: color 500ms ease-in-out;
                    }
                }
            }
            
        }

        &__intro{
            padding: rem(25);
            P{
                font-size: rem(24);
                color: white;
                font-weight: 600;
                line-height: rem(45);

                >a{
                    color: $clr-pry;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        @media(max-width:850px){
            padding: rem(20);
            flex-direction: column;
            align-items: flex-start;
            gap:rem(50);

            &__container{

                &__title{
                    h1{
                        font-size:rem(48);
                    }
                }
    
                &__socials{
                    gap: rem(30);
                    i{
                        font-size: rem(30);
                    }
                }
                
            }
    
            &__intro{
                padding: 0;
                P{
                    font-size: rem(20);
                    color: white;
                    font-weight: 600;
                    line-height: rem(35);
    
                    >a{
                        color: $clr-pry;
                    }
                }
            }
        }
            
    }
    
    .projects{
        background-color: #1C2230;
        display: grid;
        place-items: center;
        padding: rem(20);

        h2{
            span{
                display: block;
                background-color: $clr-pry;
                height: 5px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        .project{
            margin-top: rem(50);
            width: 100%;
            place-items: center;
            place-content: center;
            display: grid;
            grid-template-columns: repeat(3, minmax(50px, 400px));
            grid-template-rows: repeat(2, minmax(100px, 350px));
            gap: rem(10);

            @media (max-width:1250px){

                gap: rem(5);
                    grid-template-columns: repeat(2,minmax(rem(100),1fr ));
                    grid-template-rows: repeat(4, minmax(rem(100), rem(350)));            
            }

            @media (max-width:850px){

                
                    grid-template-columns: repeat(1,minmax(rem(50), rem(400)));
                    grid-template-rows: repeat(6, minmax(rem(100), rem(350)));
            
            }


            a{
                display:none;
            }
            

            &__card{
                position: relative;
                background-repeat: no-repeat;
                background-size: rem(500) rem(300);
                width: rem(400);
                height: rem(300);

                @media (max-width:1250px){
                    background-size: 1fr rem(300);
                    width: 1fr;
                    height: auto;
                }


                @media (max-width:544px){
                    background-size: rem(300) rem(300);
                    width: rem(300);
                    height: rem(300);
                }

                &-overlay{
                    
                    flex-direction: column;
                    height:rem(300);
                    gap: rem(30);
                    opacity: 0;
                    

                    h4{
                        
                        font-size: rem(36);
                        color: $clr-pry;
                    }

                    .tools{
        
                        gap: rem(20);
                         i{
                             font-size: rem(35);
                             color: $clr-pry;
                         }
                    }


                    a{
                            display: none;
                            margin-left: rem(10);
                            position: relative;
                            border: 1px solid $clr-pry;
                            color: $clr-pry;
                            padding: rem(15);
                            border-radius: rem(30);
                            font-weight: 600;
                            text-transform: uppercase;

                            span{
                                margin-left: rem(5);
                            }
                            &:hover{
                                background: $clr-pry;
                                color: white;
                            }
                    } 


                    &:hover{

                            background:#16161658;
                            // animation: overlay 1s ease-in ;
                            opacity: 1;
                            transition: all 500ms ease-in-out;

                            a{
                                display: inline;
                            }
                    }



                }

            }

            &__1{
                
                background-image: url(../images/project-2.jpg);
                
            }

            &__2{
                background-image: url(../images/project-5.jpg);
            
            }

            &__3{
                background-image: url(../images/project-4.jpg);
                
            }

            &__4{
                background-image: url(../images/project-3.jpg);
            }

            

        }
    }

    .skills{
        margin: rem(50) 0 ;
        background-color: #181E2A;
        display: grid;
        place-items: center;

        h2{
            margin-top: rem(30);
            span{
                display: block;
                background-color: $clr-pry;
                height: 5px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        

        .skill{
            margin: rem(50) 0;
            display: grid;
            grid-template-columns: repeat(4, minmax(100px, 1fr));
            grid-template-rows: repeat(2, 100px );
            gap:rem(20);
            
            @media (max-width:960px){
                place-items: center;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
                grid-template-rows: repeat(4, 100px );
            
            }
            @media (max-width:500px){
                gap:rem(10);
                grid-template-columns: repeat(2, minmax(100px, 1fr));
                grid-template-rows: repeat(auto-fill, 100px );
            
            }

            &__card{
                display: grid;
                place-items: center;
                border: 2px solid $clr-pry;
                border-radius: rem(20);
                min-width: rem(165);
                height: 100px;

                i{
                    color: $clr-pry;
                    font-size: rem(30);
                }

            }

        }
    }

}

