// ===============  take in pixels, spit out rem value (just for fun)

@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

main {
  .hero {
    padding: rem(50);
    background: #181e2a;
    gap: rem(100);

    &__container {
        flex:1;

      &__title {
          animation: titleOut 1s ease-in;
        span {
          margin-top: rem(-10);
          display: block;
          color: $clr-pry;
          
        }
      }

      &-socials {
        margin-top: rem(30);
        gap: rem(10);

        .sm {
          background: $clr-header;
          display: flex;
          gap: rem(5);
          padding: rem(10);
          border-radius: rem(5);

          &:hover {
            transform: scale(1.1);
          }
        }

        i {
          color: $clr-pry;
          font-size: rem(20);

          &:hover {
            color: white;
            transition: color 500ms ease-in-out;
          }
        }

        p {
          color: $clr-pry;
        }
      }
    }

    &__intro {
      padding: rem(25);
      flex:1;
      P {
        font-size: rem(24);
        color: white;
        font-weight: 600;
        line-height: rem(45);

        > a {
          color: $clr-pry;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media (max-width: 850px) {
      padding: rem(20);
      flex-direction: column;
      align-items: flex-start;
      gap: rem(50);

      &__container {
        &__title {
          h1 {
            font-size: rem(48);
          }
        }

        &__socials {
          gap: rem(30);
          i {
            font-size: rem(30);
          }
        }
      }

      &__intro {
        padding: 0;
        P {
          font-size: rem(20);
          color: white;
          font-weight: 600;
          line-height: rem(35);

          > a {
            color: $clr-pry;
          }
        }
      }
    }
  }

  .projects {
    background-color: #1c2230;
    display: grid;
    place-items: center;
    place-content: center;
    padding: rem(20);

    h2 {
      span {
        display: block;
        background-color: $clr-pry;
        height: 5px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .project {
      margin-top: rem(50);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(100px, auto));
      gap: rem(10);

      @media (max-width: 960px) {
        grid-template-columns: 1fr;
      }

      &__card {
        position: relative;
        background-color: $clr-bg;
        padding: rem(30);
        display: flex;
        flex-direction: column;
        gap: rem(15);

        &-link {
          gap: rem(20);

          a {
            border-radius: rem(5);
            padding: rem(10);
            background-color: $clr-header;
            color: $clr-pry;
            font-weight: $weight-bold;
            transition: transform 200ms ease;

            &:hover {
              transform: translateY(-2px);
            }
          }
        }

        p {
          color: white;
          font-weight: $weight-bold;
        }

        .tools {
          gap: rem(20);
          i {
            color: $clr-pry;
            font-size: rem(20);
          }
        }

        &-img {
          display: none;
          transition: all 500ms ease-in-out;

          img {
            height: rem(300);
          }
        }

        &:hover,
        &:focus {
          transform: translateY(2px);
          box-shadow: 0px 0 10px #090a0a;

          .project__card-img {
            display: block;
          }
        }
      }
    }
  }

  .skills {
    margin: rem(50) 0;
    background-color: #181e2a;
    display: grid;
    place-items: center;
    place-content: center;
    gap: rem(30);

    h2 {
      margin-top: rem(30);
      span {
        display: block;
        background-color: $clr-pry;
        height: 5px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .skill {
      display: flex;
      gap: rem(200);
      justify-content: center;
      // padding: 0 rem(30);

      @include breakpoint-down(medium){
          flex-direction: column;
          gap:rem(20);
          text-align: center;
      }

      &-cat,
      &-set {
        display: flex;
        flex-direction: column;
        gap: rem(10);
      }

      p {
        font-weight: $weight-bold;
        color: white;
      }
    }
  }
}
