// ===============  take in pixels, spit out rem value (just for fun)

@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


// color
$clr-bg: #181E2A;
$clr-header:#2c323f;
$clr-pry: #67f66a ;



// Fonts 
$fonts-DM-sans: 'DM Sans', sans-serif;
$fonts-roboto: 'Roboto', sans-serif;

// Font weight
$weight-reg: 400;
$weight-med: 500;
$weight-bold: 700;
