html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

header {
  background-color: #1C2230;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1, h2 {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
}

h3 {
  color: cyan;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-e {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/***********visibility ********/
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  padding: 1rem 1.5rem;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__logo img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 70%;
}

.header__links {
  gap: 1.25rem;
}

.header__links a:hover {
  font-weight: 700;
}

.header__cta {
  padding: 0.625rem 1.875rem;
  border: 1px solid white;
  border-radius: 1.25rem;
  font-weight: 700;
}

.header__cta:hover {
  border: 2px solid white;
}

.header__menu Span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu Span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

main .hero {
  padding: 3.125rem;
  background: #181E2A;
  gap: 6.25rem;
}

main .hero__container {
  width: 50%;
}

main .hero__container__title span {
  display: block;
  color: cyan;
}

main .hero__container__socials {
  gap: 1.875rem;
}

main .hero__container__socials i {
  color: cyan;
  font-size: 3.125rem;
}

main .hero__intro {
  width: 50%;
  padding: 1.5625rem;
}

main .hero__intro P {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  line-height: 2.8125rem;
}

main .hero__intro P > a {
  color: cyan;
}

main .projects {
  background-color: #1C2230;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .projects .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(500px, 1fr));
  -ms-grid-rows: (minmax(200px, 500px))[2];
      grid-template-rows: repeat(2, minmax(200px, 500px));
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
}

main .projects .project__1 {
  position: relative;
  background-image: url(../images/project-2.jpg);
  background-repeat: no-repeat;
  background-size: 500px 400px;
  width: 500px;
  height: 400px;
}

main .projects .project__2 {
  position: relative;
  background-image: url(../images/project-5.jpg);
  background-repeat: no-repeat;
  background-size: 500px 400px;
  width: 500px;
  height: 400px;
}

main .projects .project__3 {
  position: relative;
  background-image: url(../images/project-4.jpg);
  background-repeat: no-repeat;
  background-size: 500px 400px;
  width: 500px;
  height: 400px;
}

main .projects .project__4 {
  position: relative;
  background-image: url(../images/project-3.jpg);
  background-repeat: no-repeat;
  background-size: 500px 400px;
  width: 500px;
  height: 400px;
}

main .projects .project__1:hover, main .projects .project__2:hover, main .projects .project__3:hover, main .projects .project__4:hover {
  opacity: 70%;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

main .projects .project__1:hover a, main .projects .project__2:hover a, main .projects .project__3:hover a, main .projects .project__4:hover a {
  position: relative;
  background-color: cyan;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  top: 350px;
  left: 250px;
  opacity: 100%;
}

main .skills {
  background-color: #181E2A;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .skills h2 span {
  display: block;
  background-color: cyan;
  height: 5px;
  width: 100px;
}

main .skills .skill {
  margin-top: 1.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  -ms-grid-rows: (100px)[4];
      grid-template-rows: repeat(4, 100px);
  gap: 1.25rem;
}

main .skills .skill__card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 2px solid cyan;
  border-radius: 1.25rem;
}

main .skills .skill__card i {
  color: cyan;
  font-size: 1.875rem;
}

main .skills .skill__card:hover {
  background-color: #1C2230;
}
/*# sourceMappingURL=style.css.map */